<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.skyward.android.permission">


    <application>

        <activity android:name=".PermissionDialogActivity"
                  android:theme="@style/dialogActivity"
            />

    </application>
</manifest>